body{
  font-family: 'Courier New', Courier, monospace;
    background: rgb(97, 189, 231);
}

.header_div{
    background: white;
 color: royalblue;
}

.header_div p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: navy;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: navy;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: lightsteelblue;
   line-height: 3;
   text-align: center;
   text-shadow: gray;
}